#board-tile {
    display: block;
    border-color: black;
    border-width: 0.05em;
    border-style: ridge;

    padding: 0;
    margin: 0;

    &:hover:not(.disabled) {
        border-color: white;
    }
}