.table-title {
    background-color: black;
    color: #E0E0E0 !important;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    margin: 15px 5px 10px 5px;
    .title-container {
        justify-content: space-between;
        .title-icon {
            margin-top: 5px;
            margin-left: 10px;
        }
    }
}

@mixin mat-table-columns($columns)
{
    .mat-column-
    {
        @each $colName, $props in $columns {

            &#{$colName} 
            {
                @if map-has-key($props, 'min-width')  {
                    min-width: map-get($props, 'min-width');
                }
                @if map-has-key($props, 'width')  {
                    width: map-get($props, 'width');
                }
                @if map-has-key($props, 'content-place') {
                    text-align: map-get($props, 'content-place');
                    align-content: map-get($props, 'content-place');
                    justify-content: map-get($props, 'content-place');
                } @else {
                    text-align: center;
                    align-content: center;
                    justify-content: center;
                }
            }  
        }
    }
}
@include mat-table-columns((

    name: (min-width: 30%, width: 250px, content-place: left),
    damage_roll: (),
    bonus_damage: (),
    penetration: (),
    armor_class: (),
    magic_armor: (),
    dodge: (),
    quantity: (width: 8%),
    delete: (width: 8%)

));

table {
    align-self: center;
    justify-self: center;
    width: 95%;
    background-color: #E0E0E0 !important;
    border-collapse: separate;
    border-radius: 50px !important;
    
    tr.table-header {
        background-color: gray;
        height: 25px !important;
    }

    tr.detail-row {
        height: 0;
    }

    tr.item-row:not(.expanded-row):hover {
        background-color: #E7E7E7;
    }

    tr.item-row:not(.expanded-row):active {
        background-color: inherit;
    }

    .item-row td {
        border-bottom-width: 0;
        cursor: pointer;
    }

    .item-details {
        overflow: hidden;
        display: flex;
    }

    .item-description {
        padding: 16px;
    }
}

.item-quantity-box {
    height: 3em;
    background-color: rgb(115, 233, 131);
    border-radius: 1em;
    border-style: groove;
    border-color: rgb(73, 146, 82);
    border-width: 1px;
}

.item-name-box {
    margin: 0 2em;
}