.table-title {
    background-color: black;
    color: #E0E0E0 !important;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    margin: 15px 5px 10px 5px;
    .title-container {
        justify-content: space-between;
        .title-icon {
            margin-top: 5px;
            margin-left: 10px;
        }
    }
}

table {
    width: 100%;
    background-color: #E0E0E0 !important;
    border-collapse: separate;

    .mat-column- {
        text-align: center;
    }

    .mat-column-name {
        min-width: 40px;
    }

    .mat-column-delete{
        max-width: 25px;
        text-align: end !important;
    }
    .mat-column-quantity {
        text-align: right !important;
    }
    
    tr.table-header {
        background-color: gray;
        height: 25px;
        border-radius: 20px;
    }

    tr.detail-row {
        height: 0;
    }

    tr.item-row:not(.expanded-row):hover {
        background-color: #E7E7E7;
    }

    tr.item-row:not(.expanded-row):active {
        background-color: inherit;
    }

    .item-row td {
        border-bottom-width: 0;
        cursor: pointer;
    }

    .item-cell {
        display: flex;
        align-items: center;
        .item-name {
            width: 90%;
        }
    }

    .item-details {
        overflow: hidden;
        display: flex;
    }

    .item-description {
        padding: 16px;
    }
}
