 <div class="d-flex flex-column">

     <div class="d-flex table-title">
         <div class="d-flex flex-row title-container"> 
            {{ title }}
            <mat-icon class="title-icon" fontSet="fa" fontIcon="{{icon}}"></mat-icon>
         </div>
     </div>

    <table mat-table [dataSource]="groupData" multiTemplateDataRows>
            
        <ng-container *ngFor="let column of columns" matColumnDef="{{column}}">
            <th mat-header-cell *matHeaderCellDef> {{column | titlecase}} </th>
            <td mat-cell *matCellDef="let item">{{item[column]}}</td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete? </th>
            <td mat-cell *matCellDef="let item">
                <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let item" [attr.colspan]="columnsToDisplay.length">
            <div class="item-details" 
                [@detailExpand]="expandedElement == item ? 'expanded' : 'collapsed'">
                <div class="item-description">
                    <strong>Description:&nbsp;</strong>{{ item.description }}<br>
                    <span *ngIf="item.selling_price"><strong>Selling Price:&nbsp;</strong>{{ item.selling_price }}</span>
                </div>
            </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"
            class="table-header"></tr>
        <tr mat-row *matRowDef="let item; columns: columnsToDisplay;"
            class="item-row" 
            [class.expanded-row]="expandedElement == item"
            (click)="toggleExpansion(item)"></tr>
        <tr mat-row *matRowDef="let item; columns: ['expandedDetail']"
            class="detail-row"></tr>
    
    </table>

</div>